.box{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgb(241, 240, 240);
    height: 400px;
    width: 30vw;   
}
.bars{
    background-color: rgb(1, 79, 182);
    margin-right: 3px;
    width: 10px;
}